.eventLists {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 40px;
    margin-top: 25px;
}

img {
    margin-right: 20px;
    border-radius: 10px;
    height: 100px;
    width: 170px;
}

.errorBlock {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #c4c4c4; /* Red background for error */
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure the popup is on top */
}

.date {
    height: 100px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 18px;
    font-weight: 400;
}

.day {
    font-size: 20px;
    margin-top: -10px;
}

p {
    margin: 0;
    font-size: 18px;
}

.info {
    margin: 0px;
}

.cancelled-display {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: 15px;
}

.time {
    font-size: 16px;
    font-weight: 500;
    color: rgb(101, 101, 101);
}

.bookmark {
    font-size: 20px;
    width: max-content;
}

.bookmark:hover {
    cursor: pointer;
    color: orange;
}
